<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>Infrarch Cloud Server Engine</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Engine</servlet-name>
		<servlet-class>com.infrarch.engine.Engine</servlet-class>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>Engine</servlet-name>
		<url-pattern>/Engine/*</url-pattern>
		<url-pattern>/engine/*</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>

	<context-param>
		<param-name>user</param-name>
		<param-value>admin</param-value>
	</context-param>

	<context-param>
		<param-name>pass</param-name>
		<param-value>kznywo'}</param-value>
	</context-param>

	<context-param>
		<param-name>docRoot</param-name>
		<param-value>/cloud-server-engine/docs</param-value>
	</context-param>
	
	<context-param>
		<param-name>configRoot</param-name>
		<param-value>/cloud-server-engine/config</param-value>
	</context-param>
	
	<listener>
	   <listener-class>com.infrarch.engine.worker.ServletListener</listener-class>
    </listener>
</web-app>